# Compilados
/dist
/tmp
/out-tsc

# Dependencias
/node_modules

# Caché Angular
/.angular/cache

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Testing
/coverage
testem.log

# IDEs
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code (permitir configuraciones del proyecto)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Misc
.sass-cache/
/connect.lock
/libpeerconnection.log
/typings

# Sistema operativo
.DS_Store
Thumbs.db
