PORT=3000
HOST=localhost
JWT_SECRET=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=

# Configuración SMTP para envío de emails
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
SMTP_FROM=no-reply@Nehli.com