<div class="container text-layout">
  <div class="titulo">
    <h1>50 Animes más Populares</h1>
  </div>

  <div class="p-d-flex p-flex-wrap p-jc-center">
    <div class="p-mr-2 tarjeta-container" *ngFor="let popular of populares">
      <app-tarjetas
        [data]="{
          imagen: popular.images['jpg'].image_url,
          titulo: popular.title,
          episodios: popular.episodes,
          puntuacion: popular.score,
          url: popular.url
        }"
      ></app-tarjetas>
    </div>
  </div>
</div>
