<p-blockUI [blocked]="isLoading">
  <div class="loading-overlay">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
      animationDuration="1s"></p-progressSpinner>
  </div>
</p-blockUI>

<div *ngIf="isError">
  <p-messages [value]="messages" [enableService]="false" [closable]="false"></p-messages>
</div>

<div class="container text-layout">
  <div class="titulo">
    <label for="tAnio">Selecciona año:</label>

    <div class="p-mb-3">
      <p-dropdown [options]="anios" (onChange)="obtenerAnimes()" [(ngModel)]="anioSeleccionado"></p-dropdown>
    </div>

    <div class="btn-group" role="group">
      <button pButton pRipple (click)="recibirTemp('winter')" class="p-button-sm p-button-primary">
        Invierno
      </button>
      <button pButton pRipple (click)="recibirTemp('spring')" class="p-button-sm p-button-success">
        Primavera
      </button>
      <button pButton pRipple (click)="recibirTemp('summer')" class="p-button-sm p-button-danger">
        Verano
      </button>
      <button pButton pRipple (click)="recibirTemp('fall')" class="p-button-sm p-button-warning">
        Otoño
      </button>
    </div>
    <h3>Temporadas {{ temporada }} {{ anioActual }}</h3>
  </div>

  <div class="p-grid p-justify-center p-d-flex">
    <ng-container *ngFor="let temp of Temporadas">
      <div class="tarjeta-container p-col-12 p-md-6 p-lg-4 p-xl-3">
        <p-card subheader="{{ temp.title }}" styleClass="tarjeta">
          <ng-template pTemplate="header">
            <img [src]="temp.images['jpg'].image_url" class="card-img-top img-carta" alt="{{ temp.title }}" />
          </ng-template>
          <p>
            <b>Episodios:</b> {{ temp.episodes }}<br />
            <b>Puntuación:</b> {{ temp.score }}<br />
            <b>Género:</b>
            <a *ngFor="let genero of temp.genres; let last = last">
              {{ genero.name }}<ng-container *ngIf="!last">, </ng-container>
            </a>
          </p>
          <ng-template pTemplate="footer">
            <a href="{{ temp.url }}" target="_blank">
              <p-button label="Más" icon="pi pi-external-link"></p-button>
            </a>
          </ng-template>
        </p-card>
      </div>
    </ng-container>
  </div>
</div>
